.block-current-user-block {
  margin: 0 0.5em; }

.block-system-branding-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  align-items: flex-start; }
  .block-system-branding-block a.site-logo {
    display: flex;
    justify-content: center; }

@media screen and (min-width: 768px) {
  /* desktops */
  .region-header {
    max-width: 1000px;
    justify-content: space-between;
    margin: 0 auto; } }

@media screen and (max-width: 768px) {
  /* cellphones */
  .region-header {
    display: flex;
    flex-direction: column; }
    .region-header a.site-logo img {
      max-width: 100px; } }

/* 2023-12-07 */
/* N */
.node-47 .images {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .node-47 .images img {
    max-height: 80vh;
    width: auto;
    margin: 1em; }

/* R */
.region-content {
  margin: 0 1em; }
